* {
  padding: 0;
  margin: 0;
}

#container {
  border: 1px solid black;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

#message {
  width: 79%;
  height: 40px;
  box-sizing: border-box;
}

#submit-button {
  width: 20%;
  height: 40px;
  box-sizing: border-box;
}

#chat {
  flex-grow: 1;
}

.message-block {
 padding-bottom: 5px;
}

.name {
  font-style: italic;
}

.message {
  display: inline-flex;
  background: lightblue;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}